.jumbotron{
  background: rgba(255, 255, 255, .75);
  position: relative;
  color:black;
  max-width: 1000px;
  margin: auto;
}

.carousel {
	margin: auto;
	position: relative;
}

block {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff4B;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  margin: 15px;
}
