<!-- HTML page template taken from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">

    <!-- Personal CSS File -->
    <link rel="stylesheet" href="{{url_for('static', filename='splash.css')}}" type="text/css">

    <title>Major Potential - Cities</title>
  </head>
  <body>

	<br>
	<!-- NAVBAR via Bootstrap -->
	<nav class="navbar navbar-inverse">
	<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="./">Major Potential</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="./">Home</a></li>
			<li><a href="./colleges">Colleges</a></li>
			<li class="active"><a href="./cities">Cities</a></li>
			<li><a href="./majors">Majors</a></li>
			<li><a href="./about">About</a></li>
		</ul>
	</div><!--/.nav-collapse -->
	</div>
    </nav>
	<!-- ENDNAVBAR -->


    <h1 style="text-align: center; font-weight: bold; font-size: 42px">Cities</h1>

		<table class="model-table">

		<div class="model-entry">
			<tr>
				<td class="model-image"><img  src="{{url_for('static', filename='images/austinTX.jpg')}}" alt="Austin, TX" width="150" height="150" /></td>
				<td class="model-data">
					<h2>Austin, TX</h2>
					<p>Universities: The University of Texas at Austin, and others.</p>
					<p>Notable job opportunities: Placeholder</p>
				</td>
			</tr>
    </div>
		<div class="model-entry">
			<tr>
				<td class="model-image"><img src="{{url_for('static', filename='images/collegestationTX.jpg')}}" alt="College Station, TX" width="150" height="150" /></td>
				<td class="model-data">
					<h2>College Station, TX</h2>
					<p>Univsersities: Texas A&M University</p>
					<p>Notable job opportunities: Placeholder</p>
				</td>
			</tr>
		</div>
		<div class="model-entry">
			<tr>
				<td class="model-image"><img src="{{url_for('static', filename='images/houstonTX.jpg')}}" alt="Houston, TX" width="150" height="150" /></td>
				<td class="model-data">
					<h2>Houston, TX</h2>
					<p>Universities: The University of Houston, and others.</p>
					<p>Notable job opportunities: Placeholder</p>
				</td>
			</tr>
		</div>

		</table>


    <!-- Optional JavaScript. Always leave these statements down here, at file bottom. -->
    <!-- Always have jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
