<!DOCTYPE html>
<html lang="en">
<head>
  <title>Major Potential</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Personal CSS File -->
  <link rel="stylesheet" href="{{url_for('static', filename='splash.css')}}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Major Potential - Cities</title>
</head>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="./">Major Potential</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <div id="navbar" class="collapse navbar-collapse">
      <li class="nav-item">
        <a class="nav-link" href="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./colleges">Colleges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./cities">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="./majors">Majors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./about">About</a>
      </li>
    </div>
    </ul>
  </nav>
		<!-- ENDNAVBAR -->
  <body style="background-image:url('./static/images/spiration dark.png')">

  <h1 style="text-align: center; font-weight: bold; font-size: 42px; color: #FFFFFF">Universities</h1>
  <div class="container">
  <div class="row justify-content-between" >
    <div class="card" style="width:300px">
      <img class="card-img-top"  src="{{url_for('static', filename='images/UTlogo.jpg')}}" alt="University of Texas at Austin" alt="University of Texas at Austin" style="width:100%">
      <div class="card-body">
        <p><a href="./college-utexas">The University of Texas at Austin</a></p>
        <p>Location: <a href="./city-austin">Austin, TX</a></p>
        <p>Highest Ranked Major: <a href="./major-compsci">Computer Science</a></p>
      </div>
    </div>

      <br>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{{url_for('static', filename='images/A&Mlogo.png')}}" alt="College Station, TX"  style="width:100%">
        <div class="card-body">
          <p><a href="./college-texasam">Texas A&M University</a></p>
          <p>Location: <a href="./city-colstat">College Station, TX</a></p>
          <p>Highest Ranked Major: <a href="./major-petroleumengineering">Petroleum Engineering</a></p>
        </div>
      </div>
      <br>

        <div class="card" style="width:300px">
          <img class="card-img-top"  <img src="{{url_for('static', filename='images/UHlogo.png')}}" alt="University of Houston" style="width:100%">
          <div class="card-body">
            <h4 class="card-title"><a href="./city-houston">Houston, TX</a></h4>
            <p><a href="./college-uhouston">The University of Houston</a></p>
            <p>Location: <a href="./city-houston">Houston, TX</a></p>
            <p>Highest Ranked Major: <a href="./major-compsci">Computer Science</a></p>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript. Always leave these statements down here, at file bottom. -->
    <!-- Always have jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
