<!-- HTML page template taken from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Personal CSS File -->
		<link rel="stylesheet" href="{{url_for('static', filename='splash.css')}}" type="text/css">

    <title>Major Potential - Majors</title>
  </head>
  <body>

	<!-- NAVBAR -->
    <div class="navbar">
    <div class="navlink"><a class="navtext" href="./">Home</a></div>
    <div class="navlink"><a class="navtext" href="./colleges">Colleges</a></div>
    <div class="navlink"><a class="navtext" href="./cities">Cities</a></div>
    <div class="navlink"><a class="navtext" href="./majors">Majors</a></div>
    <div class="navlink"><a class="navtext" href="./about">About</a></div>
  </div>
  <!-- ENDNAVBAR -->


    <h1 style="text-align: center; font-weight: bold; font-size: 42px">Majors</h1>

		<table class="model-table">

		<div class="model-entry">
			<tr>    
				<td class="model-image"><img src="{{url_for('static', filename='images/manufacturingresize.jpg')}}" alt="Manufacturing" width="150" height="150" /></td>
				<td class="model-data">
					<h2>Manufacturing</h2>
					<p>Universities: Placeholder</p>
					<p>Prominent cities: Placeholder</p>
				</td>
			</tr>
    </div>
		<div class="model-entry">
			<tr>
				<td class="model-image"><img  src="{{url_for('static', filename='images/agricultureresize.jpg')}}" alt="Agriculture" width="150" height="150" /></td>
				<td class="model-data">
					<h2>Agriculture</h2>
					<p>Universities: Placeholder</p>
					<p>Prominent cities: Placeholder</p>
				</td>
			</tr>
		</div>
		<div class="model-entry">
			<tr>
				<td class="model-image"><img src="{{url_for('static', filename='images/ITresize.jpg')}}" alt="Information Technology" width="150" height="150" /></td>
				<td class="model-data">
					<h2>Information Technology</h2>
					<p>Universities: Placeholder</p>
					<p>Prominent cities: Placeholder</p>
				</td>
			</tr>
		</div>

		</table>


    <!-- Optional JavaScript. Always leave these statements down here, at file bottom. -->
    <!-- Always have jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
