<!-- HTML page template taken from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Personal CSS File -->
	<link rel="stylesheet" href="{{url_for('static', filename='splash.css')}}" type="text/css">

	<title>Major Potential</title>

	<style type="text/css">
  .text-center {
    line-height: 0.9em;
  }
  .instance-image {
    max-width: 40em;
  }
</style>

</head>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="./">Major Potential</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<div id="navbar" class="collapse navbar-collapse">
				<li class="nav-item">
					<a class="nav-link" href="./">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./colleges">Colleges</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./cities">Cities</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="./majors">Majors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./about">About</a>
				</li>
			</div>
		</ul>
	</nav>
	<!-- ENDNAVBAR -->
	<br>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<img class="instance-image" src="{{url_for('static', filename='images/manufacturingresize.jpg')}}" />
				<h2>Petroleum Engineering</h2>
				<p>Median pay: $128,230 annually</p>
				<p>Number of jobs: 33,700</p>
				<p>Job outlook for 2016-26: 15%</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h4>Notable employers:</h4>
				<ul>
					<li>Marathon Oil Corp., in <a href="./city-houston">Houston, TX</a></li>
					<li>ConocoPhillips, in <a href="./city-houston">Houston, TX</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Top Universities</h4>
				<p>Source: USNews 2018 National Rankings, Undergraduate</p>
				<ul>
					<li><a href="./college-texasam">Texas A&M University</a> - Rank 1</li>
					<li><a href="./college-utexas">The University of Texas at Ausitn</a> - Rank 2</li>
				</ul>
			</div>
		</div>
	</div>


	<!-- Optional JavaScript. Always leave these statements down here, at file bottom. -->
	<!-- Always have jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
