.jumbotron{
  background: 0xFFFFFF;
  color:black;
  max-width: 1000px;
  margin-bottom: 25px;
}

.button {
  width: 1000px;
}

.container{
  max-width: 1000px;
  margin: auto;
}

.profileimg{
  max-width: 100%;
  padding: 1em;
}
.profileimg > img {
  width: 100%;
}

.text-center {
  line-height: 0.7em;
}


table, th, td {
  border-bottom: 1px solid white;
  width: 50%;
}

table {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 20px;

}

table tr:nth-child(even) {
  background-color: #D3D3D3
}
table tr:nth-child(odd) {
  background-color: #FFFFFF;
}
th, td {
  padding: 5px;
  text-align: center;
}

logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

intro {
  font-family: "Seaweed Script";
  text-align: center;
  font-size: 21px;
  position: relative;
  margin:0;
}

block {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff4B;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  margin-bottom: 18px;
}

block_small {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
  margin-bottom: 30em;
  margin-top: 100em;
}
