body {
  margin: auto;
  font-family: sans-serif;
  background-image: url("../images/background.jpg");
}

.navbar {
	background-color: rgba(77,77,77,1);
	width: 100%;
	height: 65px;
    margin-bottom: 0;
}

.navbar-brand {
	color: rgba(210,210,210,1);
  font-size: 23px;
}

.nav {
	color: rgba(210,210,210,1);
  font-size: 17px;
}
