.welcome{
  background: rgba(255, 255, 255, .001);
  position: relative;
  color:black;
  max-width: 1000px;
  height: 100px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.carousel {
  max-width: 1000px;
  margin: auto;
}

.controls {
   	position: relative;
   	display: block;
    max-width: 1000px;
}

logo_m {
  font-family: 'Open Sans', sans-serif;
  color:#CECECE;
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #000000 3px 2px 0;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
