.ctext{
    font-weight: 100%
}

.carousel-caption .cbutton{
  font-size: 22px;
  margin-bottom: 2rem;
}

.carousel-caption .cheader{
  font-size: 40px;
  color: white;
}

.carousel {
  max-height: 775px;
  margin: auto;
}

img {
  max-width: 100%;
  width: auto   9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.carousel img {
  min-width: 100%;
  max-height: 775px;
  max-width: none;
}

.button {
  width: 1000px;
}
